.grid {
  /* width: 100%; */
  margin: 5rem auto;
  display: grid;
  grid-template-columns: 50% 25% 25%;
}

h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color:rgb(2, 74, 129);
  font-weight: bold;
  text-align: center;
}
